.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.contener{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
}
.main {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, .1);
  height: 90vh;
  width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;

}


.panel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 15vh;
  width: 30vh;
  place-items: center;
  
}
.input{
  margin: 10px;
  height: 40px;
  width: 100%;
  border-radius: 15px;
  border: 1px solid #39c;
  outline: none;
  text-align: center;
}
.title{
  color: black;
}
.title a{
  color: #0077B5;
}
.boton{
  border-radius: 20px;
  border: 1px solid #39c;
  height: 40px;
  width: 100px;
  background-color:#0077B5;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  color: #fff;
  
}
.boton:hover{
  color: #0077B5;
  background-color: #fff;
}
@media (min-width:500px){
  .contener{ 
    height: 100vh;

  }
  
}
.img{
  width: 150px;
}

